<h1>Showing selected article</h1>
<p>
  topic: <%= @article.topic %>
</p>
<p>
  description: <%= @article.description %>
</p>
<p>
  city: <%= @article.city %>
</p>
<p>
  country: <%= @article.country %>
</p>