$navbar-default-bg: #25E71F;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {

float: left;
  font-size: 2em;
  color: #fff;
  text-transform: lowercase;
  letter-spacing: 0px;
  font-weight: bold;
}
logo:hover {

  color: #fff;
  text-decoration: none;

}


.center {

  text-align: center;

}
.jumbotron {
  background-image: asset-url('Star-Wars-The-Force-Awakens-wallpaper-02.jpg');
  background-size: cover;
  height: 400px;
}

.jumbotron h1{

  color: #fff;
  margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;

}
.btn-xlarge {
  font-size: 1.7em;
  background-color: red;

}
.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.footer small {
  float: left;

}
.footer ul {
  float: right;
  list-style: none;
}
.footer ul li {
  float: left;
  margin-left: 15px;

}
.articles-action {
  border-top: 1px solid #eaeaea;
   padding-top: 1px;
}
.description {

  margin-top: 0px;
}