<div class = "container">
  <footer class = "footer">
    <small>
      Copyright &copy;Created by <a href = "https://www.facebook.com">Divesh Chadha </a>and <a href = "https://www.facebook.com">Nivin Mathews</a>
    </small>
    <nav>
      <ul>

        <li><%= link_to "About", about_path %></li>

      </ul>
    </nav>
  </footer>
</div>